<h3>Profile Settings</h3>
<br></br>
<div class = "col-md-4 col-md-offset-4">
  <div class = "new_form">
    <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :first_name, placeholder: 'First Name' %>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
      <%= f.email_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %><br>
      <%= f.uploadcare_uploader :profile_photo, :data => {:images_only => true, :crop => "500x500 minimum", :image_shrink => "500x500", :clearable => true } %><br></br>
      <br>
      <div class=submitandcancelbutton>
      <%= f.submit :class=>"btn btn-success btn-md"%><span></span>
      <% end %>
      </div>
  </div>
</div>
