<!DOCTYPE html>
<html>
  <head>
    <title>NapZZZ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script>
      UPLOADCARE_LOCALE = "en";
      UPLOADCARE_TABS = "file url facebook gdrive dropbox instagram evernote flickr skydrive";
      UPLOADCARE_PUBLIC_KEY = "fd33f05a1dbd1f2529ef";
    </script>
    <script charset="utf-8" src="//ucarecdn.com/widget/2.10.0/uploadcare/uploadcare.full.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" style="margin-bottom:0; height:12vh;">
      <div id="flash_messages">
        <%= flash_messages %>
      </div>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand"  href="/" style="color: #ff8080; font-family: 'Muli', sans-serif;"><img src="http://i.imgur.com/hQjLfga.png" style="height:5vh; width:8vh;">napzzz</a>
        </div>
          <% if current_user == nil %>
            <ul class="nav navbar-nav navbar-right" style="font-family: 'Muli', sans-serif;">
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/login">Login</a></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav navbar-right" style="font-family: 'Muli', sans-serif;">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="<%= current_user.profile_photo %>" id="navpic"> <%= current_user.first_name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/listings/new">Post a listing</a></li>
                  <li><%= link_to current_user.first_name + "\'s Profile", user_path(current_user)%></li>
                  <li><%= link_to "Profile Settings", edit_user_path(current_user) %></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </li>
              </ul>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
